
* {font-family: 'Yeon Sung', cursive;}

       .login-title {
           display: flex;
           flex-direction: column ;
           justify-content: center;
           background-image: url("http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0");
           color: white;
           width: 300px;
           height: 200px;
           background-size: cover;
           text-align: center;
           border-radius: 10px;
           }
  
.login-title h1 {
    margin: 0;
}

.login-title p {
      margin: 0;
  }

.wrap {
    width: 300px;
    margin: auto;
}

.id-password {
    width :180px;
    margin:auto
}
   